[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
beautifulsoup4 = "*"
lxml = "*"
tldextract = "*"
newspaper3k = "*"
htmlmin = "*"

[requires]
python_version = "3.7"
