-i https://pypi.org/simple
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
feedfinder2==0.0.4
feedparser==5.2.1
htmlmin==0.1.12
idna==2.8
jieba3k==0.35.1
lxml==4.3.1
newspaper3k==0.2.8
nltk==3.4
numpy==1.16.1
pandas==0.24.1
pillow==5.4.1
python-dateutil==2.8.0
pytz==2018.9
pyyaml==3.13
recordtype==1.3
requests-file==1.4.3
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
tinysegmenter==0.3
tldextract==2.2.0
urllib3==1.24.1
urlparse2==1.1.1
